body {
    background-color: lightgray;
}

textarea {
    min-height: 400px;
}

#emails-view > div {
    width: 100%;
}

#emails-view button {
    padding: 5px;
    margin: 2px;
    width: 95%;
    border: 1px solid black;
}

#emails-view button:hover {
    box-shadow: 40px 40px rgb(0, 204, 255) inset;
}

table {
    width: 100%;
}

td {
    text-align: left;
    width: 25%;
}



