{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <h2>Увiйти</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" id="login_submit">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="email" name="email" placeholder="Почта" id="login_email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Пароль" id="login_password">
        </div>
        <input class="btn btn-primary" type="submit" value="Увiйти">
    </form>

    Немає облікового запису? <a href="{% url 'register' %}">Зареєструватися тут.</a>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/login.js' %}"></script>
{% endblock %}